.index-hero {
  background-image: url(/assets/img/scene\ principale.webp);
  height: 100vh;
}

.hero-content h3,
h1 {
  color: #f5f0e8;
  font-weight: 300;
}

.hero-content {
  & img {
    max-width: 150px;
    width: 100%;
    height: auto;
  }
}
.hero-content button {
  font-size: 20px;
  font-family: "inria-serif";
  text-transform: uppercase;
  background-color: #d4a843;
  color: #2a2d34;
  border: 1px solid #2a2d34;
  display: inline-block;
  padding: 6px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition:
    background 0.2s,
    color 0.2s;

  &:hover {
    background: #2a2d34;
    color: #d4a843;
    font-weight: bold;
  }
}
